header {
  /* display: none; */
  padding: 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #0f0e17;
  position: fixeds;
  box-shadow: 1px 1px 20px rgba(19, 19, 19, 0.493);
  z-index: 2;
}

.header__nav {
  padding: 0 3.2rem 0 3.2rem;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin: 0;
}

.header__logo-link {
  text-decoration: none;
  color: #ff8906;
}

.header__logo-link {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  fill: #ff8906;
  transition: transform 0.5s;
}

.header__logo-link:hover{
  transform: scale(1.02);
}

.header__text-logo-2 {
  font-size: 1rem;
}

.header__svg {
  width: 4rem;
  height: 4rem;
  fill: #ff8906;
}

.header__list {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 0;
  list-style: none;
}

.header__list-link {
  text-decoration: none;
  color: #fffffe;
  font-weight: 500;
  transition: color 1s;
}

.header__list-link:hover {
  color: #ff8906;
}



